/*
	typography
*/

@font-face {
	font-family: 'cosmo';
	src: url('../fonts/cosmo.eot');
	src: url('../fonts/cosmo.eot?#iefix') format('embedded-opentype'), url('../fonts/cosmo.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}

*, *:before, *:after {
	box-sizing : border-box;
}
